<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/squad.css" type="text/css">
    <script defer src="/scripts/script.js"></script>
<!--    geberuik maken van defer omdat de html file eerst geparsd moet worden en dan komt de scriptj.js file -->
    <!--    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script-->
    <!--    https://developer.mozilla.org/en-US/docs/Web/HTML/Element/script-->
    <title>Squadpage</title>
</head>
<body>
<h1>Squadpage klas 1d</h1>