body {
    overflow-y: auto;
    overflow-x: auto;
    font-family: sans-serif;
}



.size-avatar {
    width: 150px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main,section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information{
    min-width: 15em;
    max-width: 20em;
    margin: 1em;
}
.info{
    border: black;
    border: solid;
    background: linear-gradient(0deg, #55f5e3 20%, #46f17d 100%);
    font-size: 1.2em;
    margin: 1em 1em 1em 1em;
}