body {
    overflow-y: auto;
    overflow-x: auto;
    font-family: sans-serif;

}
h1,h2,main,.filter-buttons{
    justify-content: center;
    align-items: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
}
.filters {
    margin: 0 1em 3em 1em;
    font-size: 1.3em;
}

.hide {
    margin-top: -50em;
}

.hide-open {
    /*display: block;*/
    margin-top: 1em;
}
.filters-ul{
    margin: 0 7em 1em -2em;

}
li{
    list-style: none;
    width: 10em;
}
.much-information-radio{
    /*display: block;*/
  width: 10em;
}
input[type="checkbox"] {
    transform: scale(1.2); /* Adjust this value to your liking */
}
.filter-buttons{
    font-size: 1em;
    background: linear-gradient(0deg, #55f5e3 20%, #46f17d 100%);
    /*border-radius: 1em;*/
    /*border: black 1em;*/
}
.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: black;
    border: solid;
    background: linear-gradient(0deg, #55f5e3 20%, #46f17d 100%);
    font-size: 1.2em;
    width: 14em;
    height: 16em;


}
.profile-data:hover{
    transform:scale(1.1);
}

.size-avatar {
    width: 150px;
}

.persons {
    margin: 0 1em 0 -1em;
    flex-direction: column;
    display: flex;
    row-gap: 2em;
}

@media (min-width: 570px) {
    body {
        display: grid;
        grid-template-columns: 15em 1fr;
        grid-template-rows: auto  auto auto;
    }

    head{
        justify-content: center;
        align-items: center;

    }
    h1,h2{
        justify-content: center;
        align-items: center;
        justify-self: center;
        grid-column: 2;
        grid-row: 1;
    }
    h2{
        grid-column: 2;
        grid-row: 2;
        display: grid;
    }

    nav {
        grid-column: 1;
        grid-row: 2;
        /*grid-column: 276px;*/
        min-width: 230px;
        max-width: 276px;
        height: 50%;
        /* Your nav styles here */
    }

    main {
        grid-column: 2;
        grid-row: 2;

    }

    section {

        grid-column: 1;
        grid-row: 4;
    }

    .hide {
        margin-top: 1em;
    }

    .button-show-filters {
        display: none;
    }
    .persons {
        margin: 0 1em 0 1em;
    }
}

@media (min-width: 768px) and (max-width: 1208px) {
    .persons {
        display: grid;
        grid-template-columns: auto  auto;
        column-gap: 2em;
        width: calc(100% - 20px);
        /*display: flex;*/
        /*flex-direction: column;*/
    }

}


@media (min-width: 1208px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
    }
}

@media (min-width: 1408px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 2em;
    }
}
