:root {
    --color--main: #233142;
    --color--secondary: #55F5E3FF;
    --color--third: #46F17DFF;

    --color--fourth: #e3e3e3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    line-height: 1.15;
    font-family: "Karla", sans-serif;
}


header {
    background-color: var(--color--main);
    color: var(--color--fourth);
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 20;
}

/*.menu {*/
/*    width: 90%;*/
/*    max-width: 20em;*/
/*    background-color: #332659;*/
/*    color: var(--color--fourth);*/
/*    position: fixed;*/
/*    top: 4em;*/
/*    bottom: 0;*/
/*    padding-left: 2em;*/

/*}*/

.zoekvak{
    margin-top: 2em;
    margin-left: 2em;
}
.info-student{
    margin-top: 2em;
    margin-left: 2em;
}
form {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 17px;
}

fieldset {
    border: none;
}

legend {
    font-size: 20px;
    /*color: black;*/
}

form label input {
    /*margin: 0 1em 0 0;*/
    inset-inline: 1em;
}

/*dit is de 2de section met de kaartjes*/
.students {
    padding: 1em;
    /*background-color: red;*/
}

/*hier zitten alle kaartjes in*/
ul {
    display: grid;
    gap: 1em;
    list-style: none;
    justify-items: center;
}

li { /*hier word de indleing bepaald van de inhoud van de kaartjes dus de info en de foto*/
    display: grid;
    grid-template-columns: 14em 1fr;
    grid-template-rows: auto;
    background-color: var(--color--third);
    font-size: 20px;
    padding: 1em;
    gap: 1em;
    inset-inline: 1em;
    /*    https://css-tricks.com/almanac/properties/i/inset/ in wiki todo voor niewuste ontwikkelingen*/

}

/* hier zit de informaite in over de persoon*/
dl {
    display: grid;
    grid-template-columns: 6em auto;
    grid-template-rows: auto auto auto;
    /*gap: 1em;*/
    column-gap: 1em;

}

dt /*dit is de 1ste rij naam achternaam squad de 2de rij heeft geen specifieke opmaak*/
{
    grid-column: 1;
    border-right: #e3e3e3 1px solid;

}

/*dit is de afbeelding*/
img {
    width: 3em;
}

@media (width <= 400px) {/*dit is voor hele kleine schermen*/

    li {
        display: grid;
        grid-template-columns: auto;

    }

    dl {
        display: grid;
        grid-template-columns: auto;
        gap: 1em;
    }

    dt /*dit is de 1ste rij naam achternaam squad de 2de rij heeft geen specifieke opmaak*/
    {
        /*grid-column: 1;*/
        border-bottom: #e3e3e3 1px solid;
        border-right: none;
        gap: 1em;

    }
}

@media (width <= 700px) {
    /*hier zitten de mobiele elementen in die allen op mobiel weergegeven mag worden*/
    a svg { /*dit is hamburger menue*/
        filter: invert(100%) sepia(3%) saturate(222%) hue-rotate(202deg) brightness(111%) contrast(78%);
        width: 2em;

    }


    .menu {
        width: 90%;
        max-width: 20em;
        background-color: #332659;
        color: var(--color--fourth);
        position: fixed;
        top: 4em;
        bottom: 0;
        padding-left: 2em;
        transform: translateX(-90%);
        transition: 0.5s;
        border-radius: 0 50px 50px 0;
        z-index: 3;

    }


    .show-menu {
        transform: translateX(0%);

    }


}

/*tablet*/
@media (width >= 700px) {
    main {
        display: grid;
        grid-template-columns: 15em 3fr; /* Adjust this ratio to suit your needs */
        grid-template-rows: auto auto auto auto; /* Adjust this ratio to suit your needs */


    }

    svg {
        display: none;
    }

    .filter {
        display: none;
    }

    .menu {

        max-width: 14em;
        top: 4em;
        bottom: 0;
        background-color: #332659;
        color: var(--color--fourth);
        padding: 2em;
        /*display: grid;*/


        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 4;
    }
    .info-student{
        grid-column: 2;
    }
    .zoekvak{
        display: grid;
        grid-column:2;
    }

    .students {
        grid-column: 2;

    }
}

@media (width >= 1100px) {

    ul {
        /*display: grid;*/
        grid-template-columns: auto auto;
    }

}

@media (width >= 1600px) {

    ul {
        grid-template-columns: auto auto auto;
        gap: 1em;
    }
}