<%- include('./partials/person-head') %>


<main class="info">

    <ul>
        <% messages.forEach(message =>{ %>
            <li><%= message %></li>
        <% }) %>
    </ul>

    <h3>laat uw bericht achter</h3>
    <h2>huide berichten</h2>

    <form method="POST" action="/">
        <label for="bericht">stuur je bericht
            <textarea id="bericht" required name="bericht">
        </textarea>
        </label>
        <button type="submit">verstuur je berichts</button>

    </form>

</main>


<%- include('./partials/foot') %>