body {
    overflow-y: auto;
    overflow-x: auto;
}

/*.filters {*/
/*    margin: 0 1em 0 1em;*/
/*}*/

/*.hide {*/
/*    margin-top: -33em;*/
/*}*/

/*.hide-open {*/
/*    !*display: block;*!*/
/*    margin-top: 1em;*/
/*}*/

/*.profile-data {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*    gap: 2em;*/
/*    align-items: center;*/
/*    border: black;*/
/*    border: solid;*/

/*}*/

.size-avatar {
    width: 250px;
}

/*.persons {*/
/*    margin: 0 1em 0 -1em;*/
/*    flex-direction: column;*/
/*    display: flex;*/
/*    row-gap: 2em;*/
/*}*/

@media (min-width: 570px) {
    body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto  auto auto;
    }

    head{
        justify-content: center;
        align-items: center;

    }
    h1{
        justify-content: center;
        align-items: center;
        justify-self: center;
        grid-column: 2;
        grid-row: 1;
    }
    h2{
        margin-left: 2.5em;
    }

    nav {
        grid-column: 1;
        grid-row: 2;
        /*grid-column: 276px;*/
        min-width: 230px;
        max-width: 276px;
        height: 50%;
        /* Your nav styles here */
    }
    .squads-info{
        grid-row: 3;
        grid-column: 1;
    }

    .bio {

        grid-column: 1;
        grid-row: 2;
    }
    aside{
        grid-column: 1;
        grid-row: 2;
    }

    .hide {
        margin-top: 1em;
    }

    .button-show-filters {
        display: none;
    }
    .persons {
        margin: 0 1em 0 1em;
    }
}

@media (min-width: 768px) and (max-width: 1208px) {
    .persons {
        display: grid;
        grid-template-columns: auto  auto;
        column-gap: 2em;
        width: calc(100% - 20px);
        /*display: flex;*/
        /*flex-direction: column;*/
    }

}


@media (min-width: 1208px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
    }
}

@media (min-width: 1408px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 2em;
    }
}
