body{
    overflow-y: auto;
    overflow-x: auto;
}
.filters{
    margin: 0 1em 0 1em;
}
.hide {
    margin-top: -33em;
}

.hide-open {
    /*display: block;*/
    margin-top: 1em;
}

.profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
    border: black;
    border: solid;

}

.size-avatar {
    width: 250px;
}

.persons {
    margin: 0 1em 0 -1em;
    flex-direction: column;
    display: flex;
    row-gap: 2em;
}

@media(min-width: 570px){
    body{
        display: grid;
       grid-template-areas: "nav main"
    "section section";
    }
    nav {
        grid-area: nav;
        /*grid-column: 276px;*/
        min-width: 230px;
        max-width: 276px;
        /* Your nav styles here */
    }

    main {
        grid-area: main;
        /* Your main styles here */
    }

    section {
        grid-area: section;
        /* Your section styles here */
    }
    .hide {
        margin-top: 1em;
    }
    .button-show-filters{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .persons {
        display: grid;
        grid-template-columns: auto  auto;
        column-gap: 2em;
        width: calc(100% - 20px);
        /*display: flex;*/
        /*flex-direction: column;*/
    }

}

@media (min-width: 908px) and (max-width: 1608px) {
    .persons {
        margin: 0 1em 0 1em;
    }

}

@media (min-width: 1208px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 2em;
    }
}

@media (min-width: 1408px) {
    .persons {
        display: grid;
        grid-template-columns: auto auto auto auto;
        column-gap: 2em;
    }
}
